#!/bin/sh

# Alias vi and vim to neovim
alias vi="nvim"
alias vim="nvim"

# Heroku
alias h='heroku'
alias hs='heroku sudo'

# Git
alias g="git"

# Use lsd for `ls`
alias ls='lsd'
alias ll="ls -lF"
alias la='ls -aF'
alias lla='ls -laF'
alias lt='ls --tree'

# Always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo'ed
alias sudo='sudo '

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

alias rg="rg --ignore-file ~/.rgignore"

# On Ubuntu, fd is installed as fdfind
command -v fdfind >/dev/null 2>&1 && alias fd=fdfind

# Use bat for cat (batcat on Ubuntu)
if command -v batcat >/dev/null 2>&1; then
  alias cat='batcat --paging=never'
elif command -v bat >/dev/null 2>&1 && [[ "$OSTYPE" == "darwin"* ]]; then
  alias cat='bat --paging=never'
fi
