#!/bin/sh

# Alias vi and vim to neovim
alias vi="nvim"
alias vim="nvim"

# Bundler
alias b='bundle'
alias be='bundle exec'
alias bu='bundle update'

# Heroku
alias h='heroku'
alias hs='heroku sudo'

# Docker
alias d='docker'
alias dc='docker-compose'
alias dm='docker-machine'

# Git
alias g="git"

# Always use color output for `ls` (GNU ls uses --color, BSD ls uses -G)
if ls --color=auto &>/dev/null 2>&1; then
    alias ls="command ls --color=auto"
else
    alias ls="command ls -G"
fi
alias l="ls -lF"
alias la="ls -laF"
alias lsd="ls -lF | grep --color=never '^d'"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Canonical hex dump; some systems have this symlinked
alias hd="hexdump -C"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
alias GET="lwp-request -m GET"
alias HEAD="lwp-request -m HEAD"
alias POST="lwp-request -m POST"
alias PUT="lwp-request -m PUT"
alias DELETE="lwp-request -m DELETE"
alias TRACE="lwp-request -m TRACE"
alias OPTIONS="lwp-request -m OPTIONS"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

alias rg="rg --ignore-file ~/.rgignore"
